body {
    margin: 0;
    min-width: 250px;
    background-color: antiquewhite !important;
  
  }
  
  
  * {
    box-sizing: border-box;
  }
  

 
  

  
 
  
  .accessdisabled {
    opacity: 0.1;
    cursor: not-allowed;
    pointer-events: none;
  }

  .access{
    opacity: 1;
    cursor:pointer;
    pointer-events:all;

  }
  

  
  
  
  
  
  